@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<HxAccordion>
	<HxPanel HeaderText="Panel Title" IsCollapsible="true" IsInitiallyCollapsed="true">
    <p>This is the content of the panel.</p>
</HxPanel>
	<HxAccordionItem>
		<HeaderTemplate>Accordition Item 1</HeaderTemplate>
		<BodyTemplate>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel pharetra mi, ut ullamcorper nisl. Morbi efficitur metus eu mauris finibus suscipit ac vel nibh.
			Suspendisse eu ipsum orci. Donec sit amet fringilla ante, at facilisis metus. Fusce leo elit, cursus sed rutrum vel, elementum eu justo.
		</BodyTemplate>
	</HxAccordionItem>

	<HxAccordionItem>
		<HeaderTemplate>Accordition Item 2</HeaderTemplate>
		<BodyTemplate>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel pharetra mi, ut ullamcorper nisl. Morbi efficitur metus eu mauris finibus suscipit ac vel nibh.
			Suspendisse eu ipsum orci. Donec sit amet fringilla ante, at facilisis metus. Fusce leo elit, cursus sed rutrum vel, elementum eu justo.
		</BodyTemplate>
	</HxAccordionItem>

	<HxPlaceholderContainer draggable="true"> </HxPlaceholderContainer>

</HxAccordion>
