@using Microsoft.AspNetCore.Components


<button type="submit">Add Event</button>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnSubmit { get; set; }

    [Parameter]
    public Event NewEvent { get; set; }

    private async Task HandleSubmit(MouseEventArgs e)
    {
        await OnSubmit.InvokeAsync(e);
    }
}
