
<style >
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
}



.grid-item {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
}

.grid-item {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
}

</style >
