@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager
@inject IUserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">User</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Dash">
                <span class="oi oi-plus" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Reports">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Reports
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cars">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cars
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ShopPlan">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Shop Planning
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Timeline">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Drive Planning
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Adminpanel">
                <span class="oi oi-list-rich" aria-hidden="true"></span> AdminPanel
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Calendar2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Calendar2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Carevents">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Carevents
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Culture">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Culture
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private CancellationTokenSource cts = new CancellationTokenSource();

    private bool collapseNavMenu = true;
    private string UserRole { get; set; } = "QRD";

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    /* protected override async Task OnInitializedAsync()
    {
        var user = await UserManager.GetUserAsync((await AuthenticationStateProvider.GetAuthenticationStateAsync()).User);
        if (user != null)
        {
            var roles = await UserManager.GetRolesAsync(user);
            if (roles.Count > 0)
            {
                UserRole = roles[0];
            }
        }
        else
        {
            UserRole = "Contact"; // Provide a default role name here
        }
        //await SomeOperation(cts.Token);

    }*/
    public void Dispose()
    {
        cts.Cancel();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    } 
}
