@page "/carselectcomponent"

<select @bind="SelectedCarId">
    @foreach (var car in Cars)
    {
        <option value="@car.Id">@car.ToString();</option>
    }
</select>

@code {
    [Parameter]
    public List<Car> Cars { get; set; }

    [Parameter]
    public int SelectedCarId { get; set; }
}
