@page "/usereventlistcomponent"
@inject IEventTypeService EventTypeService
@inject ICarEventDetailRepository EventCarStaticDetailRepository

@if (eventTypes == null)
{
    <p>Loading...</p>
}
else
{
    foreach (var userEvent in UserEvents)
    {
        var eventType = eventTypes.FirstOrDefault(et => et.Id == userEvent.EventTypeId);
        <p class="card-text">@eventType?.Name: @userEvent.StartTime - @userEvent.EndTime</p>
        <button @onclick="() => AddCarEventDetail.InvokeAsync(userEvent)">Add Car UserCarEvent Detail</button>
    }
}

@code {
    [Parameter]
    public List<UserCarEvent> UserEvents { get; set; }

    [Parameter]
    public EventCallback<UserCarEvent> AddCarEventDetail { get; set; }

    private List<EventType> eventTypes;

    protected override async Task OnInitializedAsync()
    {
        eventTypes = (await EventTypeService.GetEventTypesAsync()).ToList();
    }
}
